*{
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.barra-navegacion{
  background-color: gray;
  color: white;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

.container{
  width: 70%;
  margin: 0 auto;
}

.container p{
  margin-top: 5px;
}

.container h1{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.img-container img{
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}



.link-regreso-inicio{
  text-align: center;
  border: solid;
  display: block;
  margin-top: 20px;
  padding: 10px;
}
