<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Tarea agregada existosamente</title>
    <link rel="stylesheet" href="../static/css/exito.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="barra-navegacion">
      <p>Gestor de Tareas</p>
    </nav>
    <div class="container">
      <h1>Tarea agregada exitosamente</h1>
      <div class="img-container">
        <img src="../static/img/exito.jpg" alt="">
      </div>
      <p>Nombre de la tarea:</p>
      <p th:text="${tarea.nombre}"></p>
      <p>Descripción de la tarea:</p>
      <p th:text="${tarea.descripcion}"></p>
      <p>Fecha de creación:</p>
      <p th:text="${tarea.fechaCreacion}"></p>
      <p>Estado:</p>
      <p th:text="${tarea.estado}"></p>
      <a th:href="@{/agregarTarea}" class="link-regreso-inicio">Regresar al inicio</a>
    </div>
  </body>
</html>
